<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <connectionStrings>
        <add name="Redis" connectionString="119.27.185.32" />
    </connectionStrings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

    <!--NLOG配置 开始-->
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Info" internalLogFile="${basedir}/logs/nlog-internal.log">

        <targets>
            <target xsi:type="File" name="apiLog" autoFlush="true" createDirs="true" encoding="UTF-8" fileName="${basedir}/logs/接口报文/${shortdate}.log" layout="${longdate} ${level}#${message}" />

            <target xsi:type="File" name="businessLog" createDirs="true" autoFlush="true" encoding="UTF-8" archiveAboveSize="1048576" fileName="${basedir}/logs/业务日志/business.log" layout="${longdate} ${level}#${message}" />
            <target xsi:type="File" name="systemLog" createDirs="true" autoFlush="true" encoding="UTF-8" archiveAboveSize="1048576" fileName="${basedir}/logs/系统日志/system.log" layout="${longdate} [${level}] ${message}" />
            <target xsi:type="ColoredConsole" name="coloredConsoleBusiness" useDefaultRowHighlightingRules="false" errorStream="true" layout="${longdate} ${level}  ${callsite} ${exception} ${stacktrace} ${message}">
                <highlight-row backgroundColor="Black" foregroundColor="Red" condition="level == LogLevel.Fatal" />
                <highlight-row backgroundColor="Black" foregroundColor="Red" condition="level == LogLevel.Error" />
                <highlight-row backgroundColor="Black" foregroundColor="Yellow" condition="level == LogLevel.Warn" />
                <highlight-row backgroundColor="Black" foregroundColor="DarkGreen" condition="level == LogLevel.Info" />
                <highlight-row backgroundColor="Black" foregroundColor="Gray" condition="level == LogLevel.Debug" />
                <highlight-row backgroundColor="Black" foregroundColor="DarkGray" condition="level == LogLevel.Trace" />
            </target>

            <target xsi:type="ColoredConsole" name="coloredConsoleSysLog" useDefaultRowHighlightingRules="false" errorStream="true" layout="${longdate} ${level} ${message}">
                <highlight-row backgroundColor="Black" foregroundColor="Red" condition="level == LogLevel.Fatal" />
                <highlight-row backgroundColor="Black" foregroundColor="Red" condition="level == LogLevel.Error" />
                <highlight-row backgroundColor="Black" foregroundColor="Yellow" condition="level == LogLevel.Warn" />
                <highlight-row backgroundColor="Black" foregroundColor="DarkGreen" condition="level == LogLevel.Info" />
                <highlight-row backgroundColor="Black" foregroundColor="Gray" condition="level == LogLevel.Debug" />
                <highlight-row backgroundColor="Black" foregroundColor="DarkGray" condition="level == LogLevel.Trace" />
            </target>
        </targets>

        <rules>
            <!-- add your logging rules here -->
            <logger enabled="true" minlevel="Debug" writeTo="ApiLog" name="apiLog" />
            <logger enabled="true" minlevel="Debug" writeTo="businessLog,coloredConsoleBusiness" name="businessLog" />
            <logger enabled="true" minlevel="Debug" writeTo="systemLog,coloredConsoleSysLog" name="*" />
        </rules>
    </nlog>
    <!--NLOG配置 结束-->

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>